
body{
    font-family: 'Libre Franklin';
    text-align: justify;
    line-height: 2;
}

h1, h2{
    font-family: 'Actor', sans-serif;
    color: #14213d;
    margin-top: 0;
}

h3, h4 {
    font-family: 'Heebo';
    color: #fca311;
    font-size: x-large;
}

h4 {font-size: larger;}

main, footer, header, nav {
    width: 70%;
    margin: auto;
}

header {
    text-align: center;
    font-size: xx-large;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

nav {
    border-top: solid 1px;
    border-bottom: solid 1px;
}

aside {
    background-color: rgb(240, 240, 176); 
    width: 30%;
    margin: auto;
    box-shadow: 4pt 4pt #554d4d38;
    padding: 10px;
}

dt {
    text-decoration: underline;
}

em {
    font-size: large;
}

figure, figcaption{
    text-align: center;
    font-size: small;
    padding: 0;
    margin: 0;
}

iframe {
    width: 420px;
    height: 315px;
    display: block;
    margin: auto;
}

.reading_list {
    font-style: oblique;
}

.reading_list_link {
    font-style: normal;
}

footer {
    display: block;
    text-align: center;
}



